header {
  padding: 2rem 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoText {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(180, 131, 228);
}

.wrapperLink {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;

  a:hover {
    color: rgb(180, 131, 228);
  }
}
