@use 'variables.scss' as *;

.details-wraper {
  border-left: 3px solid $red193;
  padding-left: 10px;

  @media (max-width: 700px) {
    border-left: none;
    padding-left: auto;
  }
}

.button-wrapper {
  display: flex;
  align-items: start;
  gap: 10px;
}

.close-btn {
  @extend %button;
  cursor: pointer;

  &:hover {
    background-color: $red193;
  }
}

.choose-item {
  display: inline-block;
  padding: 2px;
  position: relative;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &:hover {
    box-shadow: $box-shadow-inner;
  }
}

.info-block {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  p {
    width: 100%;
    font-size: 1.2rem;

    span {
      font-weight: bold;
      margin-right: 8px;
    }
  }

  a {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 10px;

    &:hover {
      color: $green215;
    }
  }
}

.image-wrapper {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: 3px solid $red193;
  width: 150px;
  height: 100px;
  overflow: hidden;

  img {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
}

.images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-self: center;
}
