@use './variables' as *;

.header {
  @extend %center;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
  padding: 2rem 0;
  @media (max-width: 1110px) {
    width: 90%;
  }
}

.logo {
  width: 150px;
  color: $orange7a;
  div {
    @extend %center;
  }
  h1 {
    font-size: 1.5rem;
  }
}

.right-part {
  @extend %center;
  justify-content: space-between;
}

.theam-wrapper {
  @extend %center;
  margin-left: 15px;

  .theam-item {
    cursor: pointer;
    padding: 5px;
  }

  .nihgt {
    background-color: $black;
    @extend %themeBtn;
  }

  .day {
    background-color: $sun;
    @extend %themeBtn;
  }
}
