@use './variables' as *;

.container {
  @extend %center;
  flex-wrap: wrap;
}

.link-page {
  @extend %button;
  cursor: pointer;

  &:hover {
    background-color: $red193;
  }
}

.title {
  width: 100%;
  text-align: center;
  font-weight: 900;
  margin: 30px;
}
