@use '../../styles/variables/colors.scss' as *;
@use '../../styles/variables/typography.scss' as *;
@use '../../styles/variables/mixin.scss' as *;
@use '../../styles/variables/z-index.scss' as *;

.input-container {
  @extend %flex-column;
  position: relative;
  gap: 4px;

  .input,
  .datalist {
    @extend %input;

    &:focus {
      border: $border-hover;
      border-right: $border-hover !important;
      outline: none;
    }
  }

  .input {
    border-radius: 0 4px 4px 0;
  }

  .select-input {
    border-radius: 4px 0 0 4px;
  }

  .datalist {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: $z-modal;
  }

  .datalist-item {
    cursor: pointer;
    font-weight: $font-weight-medium;
    padding: 10px;

    &:hover {
      color: $primary;
      background-color: antiquewhite;
    }


    &.get {
      color: $success;
    }

    &.post {
      color: $primary;
    }

    &.put {
      color: $secondary;
    }

    &.patch {
      color: $info;
    }

    &.delete {
      color: $danger;
    }

    &.head {
      color: $gray-500;
    }
  }
}

.textarea {
  @extend %input;
  width: 100%;
  height: 150px;
  padding: 30px;
  resize: none;
  overflow: auto;
  border-radius: 4px;

  &:focus {
    border: $border-hover;
    outline: none;
  }
}
