@use '../../styles/variables/typography';
@use '../../styles/variables/colors';
@use '../../styles/variables/transitions';
@use '../../styles/variables/z-index';

.historyContainer {
  padding: 2rem;
  max-width: 1200px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;

  .historyTitle {
    margin-bottom: 1rem;
    text-align: center;
  }
  .tableHeader {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0.5rem 0;
    font-weight: bold;
    width: 100%;
    justify-items: center;
    align-items: center;
  }
  .historyList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .historyItem {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
    padding-top: 0.5rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    align-items: center;
    justify-items: center;

    .method {
      font-weight: bold;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
      width: 7rem;

      &[data-method='GET'] {
        background: #61affe;
      }
      &[data-method='POST'] {
        background: #49cc90;
      }
      &[data-method='PUT'] {
        background: #fca130;
      }
      &[data-method='DELETE'] {
        background: #f93e3e;
      }
      &[data-method='PATCH'] {
        background: #fca130;
      }
      &[data-method='OPTIONS'] {
        background: #fca130;
      }
      &[data-method='HEAD'] {
        background: #fca130;
      }
    }
    .url {
      cursor: pointer;
    }
  }

  .emptyState {
    text-align: center;
    padding: 4rem 2rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      color: #666;
      margin-bottom: 2rem;
    }

    .actions {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }
}
.goToClientButton,
.clearHistoryButton {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #212121;
  background-color: colors.$primary;
  min-width: 6rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
  height: auto;
  &:hover {
    background-color: colors.$primary-hover;
    color: colors.$gray-100;
  }
}
