@use './variables' as *;

.modal {
  width: 100%;
  overflow: hidden;
  align-items: center;

  .inner-modal {
    @extend %center;
    width: 100%;
    height: 100%;
  }

  .inner {
    @extend %center;
    gap: 20px;
  }

  .load-item {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: $red193;
    box-shadow: $box-shadow;
    animation: blink 1.5s infinite ease-in-out;
  }

  .item-1 {
    animation-delay: 0s;
  }

  .item-2 {
    animation-delay: 1s;
  }

  .item-3 {
    animation-delay: 2s;
  }
}
