*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.main-page {
  padding-top: 10rem;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.wrapper-item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 999px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 769px) {
  .main-page {
    padding-top: 0rem;
  }
}
