*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.main-page {
  width: 90%;
  margin: 30px auto;
  display: flex;
  gap: 30px;
}

form {
  width: 300px;

  .input-wrapper {
    width: 100%;
  }

  input,
  button {
    all: unset;
    margin-bottom: 15px;
    padding: 7px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 0px 3px 3px rgb(216, 193, 193);
  }

  button {
    cursor: pointer;
    padding: 7px 15px;

    &:hover {
      background-color: rgb(184, 215, 169);
      box-shadow: none;
    }
  }

  .wrapper-breed {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;

    .breed-item {
      padding: 7px;
      cursor: pointer;

      &:hover {
        background-color: rgb(184, 215, 169);
      }
    }
  }
}

.cards-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.card {
  width: 320px;
  padding: 12px;
  box-shadow: 1px 0px 3px 3px rgb(216, 193, 193);
  border-radius: 15px;

  .img-container {
    width: 280px;
    min-height: 100px;
    overflow: hidden;
    margin: auto;
    border-radius: 15px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .info-wrapper {
    margin: 10px auto 0;

    span {
      font-weight: 700;
    }

    p {
      margin-top: 12px;
    }
  }
}

.modal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.603);
  align-items: center; 

  .inner-modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .load-item {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(216, 193, 193);
    box-shadow: 1px 0px 8px 3px rgb(216, 193, 193);
    animation: blink 1.5s infinite ease-in-out;
  }

  .item-1 {
    animation-delay: 0s;
  }
  
  .item-2 {
    animation-delay: 1s;
  }
  
  .item-3 {
    animation-delay: 2s;
  }
}
