@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.container {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
}

.activLink {
  color: rgb(180, 131, 228);
}
