@use './variables' as *;

.error-block {
  width: 600px;
  margin: 50px auto;
  color: $red40;

  button {
    all: unset;
    margin: 15px 0;
    padding: 7px 30px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 0px 3px 3px $red193;

    &:hover {
      background-color: $green215;
      box-shadow: none;
    }
  }

  @media (max-width: 650px) {
    width: 90%;

    h1 {
      font-size: 26px;
    }
  }
}
