@use './colors.scss' as *;
@use './typography.scss' as *;

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flex-items-center {
  display: flex;
  align-items: center;
}

%input {
  width: 100%;
  padding: 8px;
  border: 1px solid $gray-700;
  font-size: 1rem;
  transition: border-color 0.3s;
  background: white;
  color: $gray-900;
  font-weight: $font-weight-medium;
}

$border-hover: 2px solid $primary;
%border-hover {
  border: 3px solid $primary;
}
